<div>
    <h2>Movie</h2>
    <table class="table table-striped">
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>actor</th>
        <th>Select!</th>
      </tr>
      <tr *ngFor="let item of moviesDB">
        <td>{{item.title}}</td>
        <td>{{item.year}}</td>
        <td>{{item.actors}}</td>
        <td><button type="submit" class="btn btn-primary" (click)="selectMovie(item)">Select</button></td>
      </tr>
    </table>
    <br>
    <hr>
    <br>
    <div *ngIf="actorsDB.length>0">
      <h2>Actor</h2>
      <table class="table table-striped">
        <tr>
          <th>Name</th>
          <th>Birth Year</th>
          <th>Select!</th>
        </tr>
        <tr *ngFor="let item of actorsDB">
          <td>{{item.name}}</td>
          <td>{{item.bYear}}</td>
          <td><button type="submit" class="btn btn-primary" (click)="selectActor(item)">Select</button></td>
        </tr>
      </table> 
    </div>
    <div *ngIf="selectactor==null || selectmovie==null; else elseBlock"> <button disabled class="btn btn-warning"> update </button></div>
    <ng-template #elseBlock><button (click)="updateMovie()" class="btn btn-warning"> update </button></ng-template>
</div>