<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/listactors" routerLinkActive="active">ListActor </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/addactor" routerLinkActive="active">AddActor </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/updateactor" routerLinkActive="active">UpdateActor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/deleteactor" routerLinkActive="active">DeleteActor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/listmovies" routerLinkActive="active">ListMovie </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/addmovie" routerLinkActive="active">AddMovie </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/addmovieactor" routerLinkActive="active">AddActorIntoMovie </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/deletemovie" routerLinkActive="active">DeleteMovie </a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>